<h1>Your poll has been created.</h1>

<h5>The two links below are the admin and poll links. To send the poll out,
copy the poll link and send it to whoever you want to respond.</h5>

<div hidden="true" id="poll-id">{{poll.poll_id}}</div>

<ul>
  <li><strong>Poll Link: </strong><a id="poll-url">{{poll.poll_url }}</a></li>
  <li><strong>Admin Link: </strong><a id="admin-url">{{poll.admin_url }}</a> <strong>(this is the current page)</strong></li>
</ul>

<h3 id="poll-question">Results For: <strong>{{ poll.question }}</strong></h3>

<div id="poll-results"></div>

<script type="text/javascript" src="/admin.js"></script>
