<div class="well row medium-top-padding">
  <div class="col-sm-offset-3 col-sm-6">
    <h1 class="alert alert-danger text-center">Sorry, the poll you are trying to access has already closed!</h1>
  </div>
</div>
