<h1 class="center">Create a poll using the form below.</h1>

<p>Once you click submit, you will be directed to the admin page for your new poll</p>

<div class="form-container">
  <form class="form-horizontal well" role="form" action="/" method="post">
    <div class="form-group">
      <p class="lead">Poll Question:</p>
      <input class="form-control" type="text" name="poll[question]" placeholder="Enter a question">
      <p class="lead">Poll Choice 1:</p>
      <input class="choice form-control" type="text" name="poll[choices][choice1]" placeholder="Enter a choice">
      <p class="lead">Poll Choice 2:</p>
      <input class="choice form-control" type="text" name="poll[choices][choice2]" placeholder="Enter a choice">
      <p class="lead"></p>
    </div>
    <div class="form-group row">
      <button class="new-choice btn btn-success" type="button" name="button">Add Poll Choice</button>
    </div>
    <div class="form-group row">
      <p>Poll defaults to close in one hour. Specificy a timeout below:</p>
      <input class="form-control col-sm-1" type="number" name="poll[timeout][number]" min="1" max="10">
      <select class="form-control col-sm-4" name="poll[timeout][units]">
        <option value=""></option>
        <option value="s">Seconds</option>
        <option value="m">Minutes</option>
        <option value="h">Hours</option>
        <option value="d">Days</option>
      </select>
    </div>
    <div class="form-group row">
      <label class="lead col-sm-5">Show poll respondants the results?
      <input class="checkbox col-sm-1 form-control" type="checkbox" name="poll[showRespondants]" value="true">
      </label>
    </div>
    <div class="form-group">
      <input class="btn btn-primary" type="submit" value="Submit">
    </div>
  </form>

</div>


<script src="/createPoll.js"></script>
