<div id="container"></div>

<form role="form" action="/" method="post">
  Poll Name:<br>
  <input type="text" name="poll[name]" placeholder="enter a name"><br>
  Poll Question 1:<br>
  <input class="question" data-id="1" type="text" name="poll[questions][question1]" placeholder="enter a question">
  <br>
  <br>
  <input type="submit" value="Submit">
</form>

<script src="/createPoll.js"></script>
