<h1 id="poll-message">Please submit your response to the poll below.</h1>

<h2 id="poll-question">{{ pollQuestion }}</h2>

<div id="poll-choice-buttons">
  {{#each pollChoices}}
  <div> {{@key}}
    <br>
    <button class="poll-choice" type="button" name="button">{{this}}</button>
  </div>
  {{/each}}
</div>

<div class="" id="poll-results"></div>

<script type="text/javascript" src="/poll.js"></script>
