<div class="container">
  <div class="well medium-top-padding">
    <div class="containermedium-top-padding">
      <h1 id="poll-message">Please submit your response to the poll below.</h1>
    </div>
  </div>
  <div class="well">
    <h2 id="poll-question">{{ pollQuestion }}</h2>
    <div class="container" id="poll-choice-buttons">
      {{#each pollChoices}}
      <div class="row">
        <p class="lead small-top-padding">{{@key}}</p>
        <button class="poll-choice btn btn-md btn-primary col-sm-3" type="button" name="button">{{this}}</button>
      </div>
      {{/each}}
    </div>
  </div>

  <div class="" id="poll-results"></div>

</div>

<script type="text/javascript" src="/poll.js"></script>
